@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/base/_all.sass';
@import '~bulma/sass/elements/_all.sass';
@import '~bulma/sass/layout/section.sass';
@import '~bulma/sass/components/message.sass';

.App {
  max-width: 600px;
  margin: 0 auto;
  animation: fadeInSection 0.5s ease-out forwards;
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

footer {
  text-align: center;
  margin-top: 40px;
}

.add-currencies {
  margin-bottom: 40px;

  > select {
    margin: 0 20px 20px 0;
  }
}

.currency {
  margin: 10px 0;

  .control {
    position: relative;
  }

  .delete-icon {
    position: absolute;
    bottom: 0px;
    right: 0;
    z-index: 1000;
    height: 45px;
    padding: 13px;
    font-size: 25px;
  }

  &.fade-in {
    animation: fadeInSection 200ms linear forwards;
  }

  &.fade-out {
    animation: fadeOutSection 200ms linear forwards;
  }
}

@keyframes fadeInSection {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutSection {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
