@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/base/_all.sass';
@import '~bulma/sass/elements/_all.sass';
@import '~bulma/sass/layout/section.sass';

.App {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.section {
  animation: fadeInSection 0.5s ease-out forwards;
}

.add-currencies {
  .select,
  .button {
    margin: 30px 20px 0 0;
  }
}

.currency {
  margin: 10px 0;
  .delete-icon {
    padding-left: 0.75em;
    padding-right: 0.75em;
    float: left;
    margin-bottom: 2px;
  }

  &.fade-in {
    animation: fadeInSection 200ms linear forwards;
  }

  &.fade-out {
    animation: fadeOutSection 200ms linear forwards;
  }
}

@keyframes fadeInSection {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutSection {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
